@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 63, 63, 63;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "YourFont";
  src: url("/fonts/YourFont.woff2") format("woff2"),
    url("/fonts/YourFont.woff") format("woff");
}

body {
  font-family: "YourFont", sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: Quicksand, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.bg-primary {
  background-color: rgb(49 60 78);
}

.bg-primary-green {
  background-color: rgb(68 147 153);
}

.text-primary-green {
  color: #449399;
}
/* rgba(193, 196, 202,1) */
.bg-primary-light {
  background-color: rgb(193 196 202);
}

.container {
  max-width: 1200px;
}
ul {
  list-style: none !important;
}

.link:hover span {
  width: 50%;
}
